body {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
}

#container {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
	overflow-y: auto;
	overflow-x: hidden;
}

#header {
	width: 100%;
	/*max-width: 1366px;*/
	height: 537px;
	background: url('../img/bg.jpg') no-repeat center center;
	margin: 0 auto;
}
.musiq {
	position: relative;
    left: 50%;
    top: 55px;
    margin-left: -430px;
}
.mecanica {
	position: relative;
	top: 65px;
    left: 50%;
    margin-left: -455px;
}
.auto {
    position: relative;
    top: -140px;
    left: 50%;
    margin-left: -470px;
    margin-bottom: -190px;
}
#main {
	top: 30px;
	position: relative;
	width: 1080px;
	margin: 0 auto;
	background: url('../img/bg-gotas.png') no-repeat top center;
	min-height: 570px;
}
#main p.info {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 18px;
	color: #783886;
	text-align: right;
	padding-right: 100px;
	z-index: 100;
    position: relative;
}
#main2 {
	top: 30px;
	position: relative;
	width: 1080px;
	margin: 0 auto;
}
.inicio {
	float: left;
	margin: 0 5px 0 50px;
}
.inicio .form-inicio {
	background: url('../img/bg-form1.jpg') no-repeat center top;
	width: 394px;
	height: 384px;
}
.inicio .form-inicio p {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 25px;
    padding-left: 15px;
    margin: 0px;
}
.form-inicio img.banner {
	width: 346px;
	margin: 10px 30px;
}
.form-inicio p.instruccion {
	font-family: 'AvenirNextLTPro-Bold';
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    padding: 0;
    padding-left: 32px;
    margin: 0px;
    text-transform: none;
    width: 340px;
}
.form-inicio .group {
	padding: 7px 20px;
}
.form-inicio .first {
	margin-top: 20px;
}
.form-inicio label {
	font-family: 'AvenirNextLTPro-Bold';
    font-size: 16px;
    color: #FFFFFF;
	text-transform: uppercase;
	float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
}
.form-inicio .group div {
	display: inline-block;
    clear: right;
}
.form-inicio input {
	font-size: 15px;
	color: #60236d;
	width: 260px;
	height: 28px;
	border: 0;
	padding-left: 5px;
}
.form-inicio input#email {
	text-transform: lowercase;
}
.form-inicio input#codigo {
	text-transform: uppercase;
}
.inicio button.btn-inicio {
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 20px;
	text-transform: uppercase;
	color: #f5ec38;
	text-align: center;
	background-color: #60236d;
	width: 100%;
	height: 46px;
	margin-top: 5px;
	border: 0px;
    line-height: 50px;
    cursor: pointer;
}
.inicio button.btn-inicio:hover {
	color: #60236d;
	background-color: #f5ec38;
}
.inicio button.btn-inicio:visited,
.inicio button.btn-inicio:focus,
.inicio button.btn-inicio:active {
	border: 0;
	text-decoration: none;
	outline: 0;
}
.registro {
	float: left;
	background: url('../img/bg-form2.png') no-repeat center center;
	width: 556px;
	height: 435px;
	margin: 0 0 0 5px;
}
.registro p {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 26px;
	color: #FFFFFF;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 25px;
    padding-left: 30px;
    margin: 0px;
}
.registro .group, .registro .group_2, .registro .group_3  {
	padding: 7px 20px;
}
.registro .first {
	margin-top: 20px;
}
.registro label, .registro select {
	font-family: 'AvenirNextLTPro-Bold';
    font-size: 12px;
    color: #783886;
	text-transform: uppercase;
	float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    line-height: 28px;
}
.registro label.small {
	line-height: 14px;
}
.registro .group div, .registro .group_2 div, .registro .group_3 div {
	display: inline-block;
    clear: right;
}
.registro .group_2 div div, .registro .group_3 div div {
	display: inline-block;
	clear: left;
}
.registro input, .registro select  {
	font-size: 12px;
	color: #545454;
	height: 24px;
	border: 0;
	padding-left: 5px;
}
.registro select {
	color: #783886;
	width: auto;
	margin-right: 8px;
	padding-right: 10px;
}
.registro input#nombre, .registro input#apellido, .registro input#direccion  {
	width: 400px;
} 
.registro input#email, .registro input#telefono  {
	width: 155px;
} 
.registro input#documento {
	width: 180px;	
}
.registro select#tipo_documento {
	width: 200px;
	margin: 0 10px;
}
.registro input[type="checkbox"] {
	font-size: 14px;
	border: 1px solid #666;
	width: 20px;
	height: 20px;
}
.registro span.terminos {
	color: #783886;
	font-family: 'AvenirNextLTPro-Bold';
    font-size: 12px;
    position: relative;
    top: -8px;
}
.registro button.btn-registrar {
	font-family: 'AvenirNextLTPro-Bold';
    font-size: 18px;
    text-transform: uppercase;
    color: #f5ec38;
    text-align: center;
    background-color: #60236d;
    width: 46%;
    height: 40px;
    border: 0px;
    line-height: 42px;
    cursor: pointer;
    right: -40px;
    position: relative;
}
.registro button.btn-registrar:hover {
	color: #60236d;
	background-color: #f5ec38;
}
.registro button.btn-registrar:visited,
.registro button.btn-registrar:focus,
.registro button.btn-registrar:active {
	border: 0;
	text-decoration: none;
	outline: 0;
}
.registro p.datos {
	font-family: 'HelveticaNeueLTStd-LtCn';
	font-size: 10px;
	text-align: center;
	color: #7b7b7b;
	padding: 0;
	text-transform: none;
	margin-top: -18px;
}
.registro p.datos a {
	color:#1e8aae;
}

.sombra {
	background: url("../img/sombra.png") no-repeat top center;
	width: 1212px;
	height: 21px;
	margin: -30px auto 0;
}


#footer {
	width: 990px;
	margin: 0 auto;
}
.qbano, .cokacola, .legal, .coljuegos {
	clear: both;
    display: inline-block;
    padding: 0 15px;
}
.legal {
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 11px;
	text-align: center;
	color: #7b7b7b;
	line-height: 20px;
    padding: 25px 40px;
    vertical-align: top;
}
.legal a {
	color: #7b7b7b;
}

/* POP UPS */
.fancybox-skin {
	background: transparent !important;
	box-shadow: none !important;
}

#registro-exitoso, #usuario-registrado {
	font-family: 'AvenirNextLTPro-Bold';
	text-align: center;
	text-transform: uppercase;
	background-color: #e5a43b;
	width: 420px;
	padding: 40px 20px;
}
#registro-exitoso h1 {
	color: #783886;
	font-size: 40px;
	margin: 0;
	text-shadow: 2px 2px #666;
}
#registro-exitoso h1 span {
	color: #fff600;
}
#registro-exitoso h2, #usuario-registrado h2 {
	color: #783886;
	font-size: 36px;
	margin: 0;
}
#registro-exitoso h3 {
	color: #fff600;
	font-size: 24px;
	margin: 0 0 20px;
	text-shadow: 2px 2px #666;
}
#registro-exitoso p, #usuario-registrado p {
	color: #783886;
	font-size: 18px;
	margin: 0;
}

#codigo-inscrito, #usuario-error {
	font-family: 'AvenirNextLTPro-Bold';
	text-align: center;
	text-transform: uppercase;
	background-color: #ffff00;
	width: 420px;
	padding: 40px 20px;
}
#codigo-inscrito h1, #usuario-error h1 {
	color: #783886;
	font-size: 40px;
	margin: 10px 0 0;
	text-shadow: 2px 2px #666;
}
#codigo-inscrito h1 span, #usuario-error h1 span {
	color: #bf50d8;
}
#codigo-inscrito h2, #usuario-error h2 {
	color: #783886;
	font-size: 36px;
	margin: 0;
}
#codigo-inscrito h3, #usuario-error h3 {
	color: #783886;
	font-size: 24px;
	margin: 20px 0 0;
}
#codigo-inscrito p, #usuario-error p {
	color: #783886;
	font-size: 18px;
	margin: 0;
}

#codigo-error {
	font-family: 'AvenirNextLTPro-Bold';
	text-align: center;
	text-transform: uppercase;
	background-color: #ffff00;
	width: 420px;
	padding: 40px 20px;
}
#codigo-error h1 {
	color: #783886;
	font-size: 40px;
	margin: 10px 0 0;
	text-shadow: 2px 2px #666;
}
#codigo-error h1 span {
	color: #bf50d8;
}
#codigo-error h2 {
	color: #783886;
	font-size: 36px;
	margin: 0;
}
#codigo-error h3 {
	color: #783886;
	font-size: 24px;
	margin: 20px 0 0;
}
#codigo-error p {
	color: #783886;
	font-size: 18px;
	margin: 0;
}

/* VENTANA CODIGOS */
.codigos {
	font-family: 'AvenirNextLTPro-Bold';
	float: left;
	margin: 0 5px 0 100px;
}
.codigos h1 {
	color: #783886;
	font-size: 36px;
	margin: -10px 0 0;
	text-transform: uppercase;
}
.codigos h3 {
	color: #783886;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}
.tabla {
	margin-top: 20px;
	overflow: auto;
    max-height: 299px;

}
.tabla th {
	font-size: 18px;
	text-align: left;
	color: #c7c7c7;
}
.tabla td {
	font-size: 16px;
	text-align: left;
	color: #740aab;
	background-color: #c7c7c7;
}
.info-codigos {
	font-family: 'AvenirNextLTPro-Bold';
	float: left;
	width: 450px;
	height: 435px;
	margin: 0 0 0 5px;
}
.info-codigos h1 {
	color: #e5a43b;
	font-size: 24px;
	margin: 105px 0 0;
	text-shadow: 1px 1px #999;
	border-bottom: 1px solid #e5a43b;
}
.info-codigos p {
	color: #740aab;
	font-size: 16px;
}
.info-codigos p span {
	font-size: 20px;
}
.info-codigos .musiq2 {
	width: 250px;
    height: 154px;
    margin: 0 auto;
}
.info-codigos .musiq2 img {
	width: 100%;
}

@media only screen and (max-width: 768px) { 
	img { width: 100%;}
	#header {
		width: 100%;
		/*max-width: 1366px;*/
		height: 470px;
		background: url('../img/bg.jpg') no-repeat left center;
		margin: 0 auto;
		text-align: center;
	}
	.musiq {
		position: relative;
	    top: 55px;
	    left: auto;
	    margin: 0 auto;
	    width: 90%;
	    max-width: 400px;
	}
	.mecanica {
		position: relative;
		top: 65px;
	    left: auto;
	    margin-left: auto;
	    width: 94%;
	    margin: 0 auto;
	    max-width: 400px;
	}
	.auto {
	    position: relative;
	    top: auto;
	    left: auto;
	    margin-left: 0;
	    margin-bottom: -190px;
	    width: 100%;
	    text-align: center;
	    margin: -125px auto 0;
	    max-width: 400px;
	}
	#main {
		width: 100%;
	}

	.inicio {
		margin: 0 auto;
		float: none;
		margin: 0 auto;
	}

	.inicio .form-inicio {
		margin: 0 auto;

	}

	.registro {
		background: url('../img/bg-form2.png') no-repeat left top;
		background-color: #c7c7c7;
		width: 100%;
		margin: 0 auto;
		height: auto;
		z-index: 1;
    	position: relative;
	}

	.registro .group, .registro .group_2, .registro .group_3 {
 	   padding: 7px 10px;	
	}

	.registro label {
		width: 28%;
	}

	.registro .group div {
		width: 68%;
	}

	.registro input#nombre, .registro input#apellido, .registro input#direccion {
    	width: 100%;
	}

	.registro select#tipo_documento {
    	width: 70%;
    	margin: 0 0 10px 30%;
	}

	.registro .group_3 div div {
	    width: 100%;
	}

	.registro input#documento {
 	   width: 68%;
	}

	.registro .group_3 label {
		width: 100%;
		text-align: left;
	}
	.registro .group_3 div {
	    width: 100%;
	}
	.registro select#dia { width: 22%;}
	.registro select#mes { width: 40%;}
	.registro select#anno { width: 30%;}
	
	.registro .group_2 div {
	    display: block;
	    clear: right;
	}
	
	.registro .group_2 div div {
	    display: block;
	}

	.registro input#celular, .registro input#ciudad {
		margin-bottom: 10px;
	}

	.registro input#email, .registro input#telefono, .registro input#celular, .registro input#ciudad {
    	width: 68%;
	}

	.sombra {
	    top: 100%;
	    position: relative;
	    margin-top: 100px;
	    width: 100%;
	    margin: 0;
	   	z-index: -10;
	}

	#footer {
		position: relative;
		bottom: -100px;
		width: 100%;
		text-align: center;
	}
	.legal {
	    position: absolute;
	    width: 100%;
	    margin: -130px auto 0;
	    padding: 0;
	    clear: none;
	    display: inherit;
	    text-align: center;
	}
}

@media only screen and (max-width: 320px) {
	#header {
		height: 430px;
	}

	#main p.info {
	    font-size: 11px;
	    text-align: center;
	    padding-right: 0px;
	}

	.inicio .form-inicio {
		width: 320px;
		background: url('../img/bg-form1.jpg') no-repeat left top;
	}

	.inicio .form-inicio p {
		font-size: 20px;
	}
	.form-inicio img.banner {
		width: auto;
    	margin: 15px auto;
	}
	.form-inicio p.instruccion {
		padding-left: 10px;
    	width: 90%;
    	font-size: 16px;
	}
	.form-inicio label {
	    width: 70px;
	}

	.form-inicio input {
		width: 200px;
	}

	.registro p {
		font-size: 17px;
		padding-top: 32px;
		padding-left: 28px;
	}

	.registro span.terminos {
	    color: #783886;
	    font-family: 'AvenirNextLTPro-Bold';
	    font-size: 10px;
		margin-left: -5px;
		top: -6px;
	}
	.registro button.btn-registrar {
	    width: 38%;
	    float: right;
	    right: 5;
	    font-size: 14px;
	    height: 38px;
    	line-height: 40px;
	}

	.registro p.datos {
	    margin-top: -6px;
	}

}